body {
  background-color: #ccc;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
input {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, sans-serif;
}

* {
  box-sizing: border-box;
}

/* container do app */
.app {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  min-height: 100vh;
}
